<head>
<style type="text/css">
.topcorner {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 100%;
}
</style>

</head>
 <div ng-show="denied_error" class="alert alert-danger">
  <strong>Danger!</strong>  {{denied_error}}
</div>
 <div ng-show="!denied_error || show_auth_user">
	<div class="jumbotron">
		<section ng-controller="configDynactrl" class="test_cls" data-ng-init="fn_load()">
			 
			<h3>Edit Plan</h3>
			<div>
				 
					<table>
						<tr>

						</tr>

						<tr>
							<td>PlanName</td>
							<td><input type="text" ng-model="edit_dyna_data.dynaPlanName"
								name="dynaPlanName" class="form-control"></td>
						</tr>
						<tr>
							<td><button type="button" value="Save"
									class="btn btn-primary" ng-href='#dynaedit'
									ng-click='updateDyna(edit_dyna_data)'>save</button></td>
							<td>
							
							<td> 
								<a href="#/configuredynaplan" class="btn btn-info" role="button">Cencel</a>
								</td>
							
							 </td>
						</tr>
					</table>
				 
			</div>
 
</section>

</div>

</div>
