<head>
<!-- <style type="text/css">
.topcorner {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 100%;
}
</style> -->

</head>
 <div ng-show="denied_error" class="alert alert-danger">
  <strong>Danger!</strong>  {{denied_error}}
</div>

<div ng-show="user_show_list"  ng-hide="denied_error" class="jumbotron">
	<section ng-controller="userctrl" class="test_cls" 	data-ng-init="fn_load()">
		 

		<table class="no-border-on-me table ">

			<tbody>
				<tr>
					</td>
					<td>Username</td>
					<td><input class="form-control" type="text"
						ng-model="edit_user.username" placeholder="Username" /></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input class="form-control" type="password"
						ng-model="edit_user.password" placeholder="Password"   readonly/></td>
				</tr>
				<tr>
					<td>New Password</td>
					<td><input class="form-control" type="password"
						ng-model="edit_pass.new_pass" placeholder="New Password" /></td>
				</tr>
				<tr>
					<td>Enabled</td>
					<td><select class="form-control" ng-model="edit_user.enabled">
							<option value="true">True</option>
							<option value="false">False</option>
					</select></td>
				</tr>
				<tr>
					<td>Role</td>
					<td><select class="form-control" ng-model="edit_user.roleId">

							<option ng-repeat="item in roleList.roles" value="{{item.roleId}}">{{item.rolename}}</option>
					</select>
					<td>
				</tr>
				<tr>
					<td>
						<button class="btn btn-primary type="
							submit" ng-disabled="!(!!edit_user.username && !! edit_user.password)"
							ng-click="updateUser(edit_user,edit_pass)">Update</button>

					</td>
					<td> 
								<a href="#userlist" class="btn btn-info" role="button">Cencel</a>
								</td>
				</tr>
			</tbody>
		</table>

	</section>

</div>
